.container-users {
    border: 1px solid red;
    border-radius: 10px;
}

ul, li {
    list-style: none;
    margin: auto;
    font-size: 13px;
    width: 100%;
    padding: 5px;
}

.deleteButton {
    text-decoration: none;
    display: inline-block;
    color: bisque;
    padding: 5px 15px;
    margin: 10px 20px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to left, #118c10 0%, #a1e083 50%, #118c10 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}
.deleteButton:hover {
    background-position: right center;
}
.user-name {
    text-align: left;
    padding: 13px;
}
.user_user-name {
    color: #5a5fb7;
    padding: 13px;
}
